.goods {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  min-height: 100vh;
}


.goods-card {
  display: flex;
  padding: 4px;
  border-radius: 12px;
  border: 2px solid #5361bd;
  box-shadow: 3 10px 14px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавный эффект при наведении */
}

.goods-card:hover {
  transform: scale(1.05); /* Немного увеличивает карточку при наведении */
  box-shadow: 0 12px 18px rgba(0, 0, 0, 0.2); /* Увеличенная тень при наведении */
}

.goods-card-left {
  width: 50%
}

.goods-card-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 15px;  
}

.title_goods {
  font-weight: 700;
  font-size: 28px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: #5361bd;
}

.p_goods {
  font-weight: 540;
  font-size: 13px;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  
}

.img {
  width: 200px;
}