* {
    margin: 0;
    padding: 0;
  }
  
  .body {
    font-size: 1rem;
    font-weight: 400;
  }
  
  :root {
    /* colors */
    --brand:  #b0b1b5;
    --dark-background: #5361bd;
    /* fonts */
    --default-font-family: "Roboto",  system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --primary-font-family: "Raleway", "sans-serif";
    --secondary-font-family: "Poppins", "sans-serif";
    /* container  */
    --container: 0px 70px;
    --container2: 80px 70px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
  
  ul, ol {
    list-style-type: none;
  }
  
  .section-title {
    padding-bottom: 60px;
    position: relative;
  }
  
  .section-title h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    position: relative;
    font-family: var(--primary-font-family);
  }
  
  .section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: var(--brand);
    margin: 4px 10px;
  }
  
  .section-title p {
    color: var(--dark-background);
    margin: 0;
    font-size: 28px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: var(--primary-font-family);
    padding-top: 4px;
  }
 